{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">


    <div class="row">
        {% for mtaani in mtaani%}
        <div class="col-md-4">

        <div class="card" id="hoody">
            <img class="card-img-top img-responsive" src="{{mtaani.mtaani_pic.url}}" alt="Card image cap" height="200px;" width="300px;" />
            <div class="card-body">

                <p><strong>{{mtaani.mtaani_name}}</strong> {{mtaani.location}}</p>
                <a href="{% url 'joinhood' mtaani.id %}"class="btn btn-outline-success">Join {{mtaani.mtaani_name}}</a>
                <p class="card-text" style="font-size:14px;"><small class="text-muted">Since
                        {{mtaani.created_at|timesince}}</small></p>

            </div>
        </div>
        

    </div>
    {% endfor %}

</div>

{%endblock%}