
{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container">
        

            <div class="profile ">
            <div class="row">

                <div class="col-md-4 profile-image">
                    {% if profile.profile_pic%}
                    <img src="{{profile.profile_pic.url}}" alt="" style="width: 200px; height: 200px;">
                    {%else%}
                    <img src="https://img.lovepik.com/free-png/20210923/lovepik-cute-girl-avatar-png-image_401231841_wh1200.png" alt=""
                    height="300px" class="img-responsive" width="100%" style="border-radius: 25%;">
                {%endif%}
                </div>

                <div class="profile-user-settings col">

                    <a style="text-decoration: none;" href="{% url 'editprofile' %}" class="btn profile-edit-btn">Edit Profile</a>
                    <a style="text-decoration: none;" href="{% url 'sign-out' %}" class="btn profile-edit-btn">Logout</a>
                    <br>

                    <div class="col-md-4">
                        {% if user.profile.neighbourhood %}
                        <a href="{% url 'mtaani' user.profile.neighbourhood.id %}" class="btn btn-dark"> {{user.profile.neighbourhood.name}}</a>
                        {% else %}
                        <a href="/" class="btn btn-dark">Choose Hood</a>
                        {% endif %}
                        
                    </div>
                    {% if profile.bio %}
                    <p><span class="profile-real-name"></span>◉Bio: {{mtaani.profile.bio}}</p>
                    {% endif %}
    
                        
                        
                        
                        
                        
                    
            </div>
            </div>




            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>
{% endblock %}